<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node App</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Node App</h1>
    <h2 style="font-weight: 400; font-size: 17px;">Version v1.0.0</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cupiditate facere deleniti, rerum sapiente dicta minus beatae eos quos. Fuga ipsam sunt voluptatem assumenda? Ducimus optio suscipit exercitationem consectetur perferendis.</p>
</body>
</html>